# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
dist-tsc/
build/
out/
.next/
.nuxt/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm/yarn/pnpm locks (optional, based on preference but turbo prefers keeping package-lock in version control)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Turborepo
.turbo/
